<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <paymentmethod>
                <active>1</active>
                <title>Credit Card (Viva Wallet Smart Checkout)</title>
                <order_status>pending_payment</order_status>
                <payment_action>authorize_capture</payment_action>
                <model>Ced\VivaPayments\Model\PaymentMethod</model>
                <order_url>https://demo.vivapayments.com/api/orders</order_url>
                <cgi_url>https://demo.vivapayments.com/web/newtransaction.aspx</cgi_url>
                <merchantid>MerchantID</merchantid>
                <merchantpass>API Key</merchantpass>
                <merchantsource>Source Code</merchantsource>
                <Installments>90:3,180:6</Installments>
                <transaction_url>https://demo.vivapayments.com/api/transactions/</transaction_url>
                <currency>EUR</currency>
            </paymentmethod>
        </payment>
    </default>
</config>
